<strong>Angular Learning</strong>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-interpolation'>Basics </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-employee-details'>View Employee </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-component-interaction'>Employees </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-edit-employee'>Edit Employee </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-edit-employee-reactive'>Edit Employee Reactive</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-two-way-binding'>Increment</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-user'>Users</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-login'>Login</a>&nbsp;&nbsp;

<hr>
<router-outlet></router-outlet>